<ion-row class="header"></ion-row>
<ion-grid class="box">
    <ion-row>
        <ion-col size="12">
            <ion-card class="ion-no-padding ion-no-margin">
                <ion-item lines="none">
                    <ion-avatar>
                        <img src="assets/images/avatar/5.jpg">
                    </ion-avatar>
                    <ion-label class="ion-padding-start">
                        <h4>Isabella</h4>
                    </ion-label>
                    <ion-icon name="thumbs-up" color="light" size="large"></ion-icon>
                </ion-item>
                <ion-item lines="none" class="ion-text-center ion-no-padding">
                    <ion-label *ngFor="let item of fList">
                        <h5>{{item.num}}</h5>
                        <p>{{item.name}}</p>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-icon name="notifications-outline" color="warning" size="large"></ion-icon>
                    <ion-label><p class="ion-text-wrap">30% Off Friends & Family
                        Sale + 15% Off Beauty</p></ion-label>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <ion-item lines="none" class="ion-text-center ion-no-padding">
                <ion-label *ngFor="let item of tList">
                    <ion-icon [name]="item" size="large" color="warning"></ion-icon>
                    <p>{{item}}</p>
                </ion-label>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-item lines="none" class="ion-text-center ion-no-padding">
                <ion-label *ngFor="let item of t2List">
                    <ion-icon [name]="item.icon" size="large" color="warning"></ion-icon>
                    <p>{{item.name}}</p>
                </ion-label>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-card class="ion-no-margin ion-no-padding bottom-card" style="padding-bottom: 10px">
                <ion-item>
                    <ion-label>order</ion-label>
                    <ion-icon slot="end" name="ios-arrow-forward" color="warning" size="small"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>address</ion-label>
                    <ion-icon slot="end" name="ios-arrow-forward" color="warning" size="small"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label>pay</ion-label>
                    <ion-icon slot="end" name="ios-arrow-forward" color="warning" size="small"></ion-icon>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>
