<ion-content fullscreen>
    <div class="top-background background-size" [ngStyle]="{'background-image':'url('+img+')'}">
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-menu-button color="light"></ion-menu-button>
                </ion-buttons>
                <ion-title></ion-title>
            </ion-toolbar>
        </ion-header>
    </div>
    <ion-col size="12" size-md="8" class="ion-text-center">
        <ion-avatar>
            <img src="assets/images/starbucks.png"/>
        </ion-avatar>
    </ion-col>
    <custom-sign-up2></custom-sign-up2>
</ion-content>
