<ion-grid>
    <ion-row>
        <ion-col size-md="6" size="12" *ngFor="let item of list">
            <ion-card class="ion-no-margin">
                <ion-item lines="none" class="ion-no-padding ion-no-margin">
                    <ion-chip slot="start" class="transparent">
                        <ion-label color="light">{{item.name}}</ion-label>
                        <ion-icon name="ios-arrow-forward" color="light"></ion-icon>
                    </ion-chip>
                    <ion-badge slot="end" color="light">
                        <ion-icon [name]="item.icon" color="danger"></ion-icon>
                        {{item.title}}</ion-badge>
                </ion-item>
                <custom-slides [list]="item.list" [option]="option"></custom-slides>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>
