<ion-grid>
    <ion-row>
        <ion-col size="12" size-md="6">
            <ion-segment class="ion-padding-top ion-margin-top" [(ngModel)]="selectType" color="warning">
                <ion-segment-button value="login">
                    <ion-label class="ion-text-uppercase">login</ion-label>
                </ion-segment-button>
                <ion-segment-button value="sign">
                    <ion-label class="ion-text-uppercase">sign up</ion-label>
                </ion-segment-button>
            </ion-segment>

            <ng-container [ngSwitch]="selectType">
                <ng-template [ngSwitchCase]="'login'">
                    <custom-login3></custom-login3>
                </ng-template>
                <ng-template [ngSwitchCase]="'sign'">
                    <custom-sign-up1></custom-sign-up1>
                </ng-template>
            </ng-container>
        </ion-col>
    </ion-row>
</ion-grid>
