:host {
  ion-button {
    width: 100px;
  }

  ion-fab-button {
    margin-bottom: 15px;
  }

  .badge {
    padding: 3px;
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    line-height: 1rem;
    text-align: center;
  }

  .cart {
    position: fixed;
    width: 100%;
    padding-bottom: 3.3rem;
    bottom: 0;
    left: 0;
    background: white !important;
  }

  h5 {
    color: white !important;;
  }

  ion-footer {
    background: var(--my-custom-color);
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
  }

  .fab-bottom {
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
  }

  .screen_cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.37);
  }

  .move-cart {
    position: fixed;
    bottom: 22px;
    left: 22px;
  }

  .scale-cart {
    animation: myScale .5s ease-in;
  }

  .no-cart {
  }

  @keyframes myScale {
    0% {
      transform: scale(1)
    }
    25% {
      transform: scale(.8)
    }
    50% {
      transform: scale(1.1)
    }
    75% {
      transform: scale(.9)
    }
    100% {
      transform: scale(1)
    }
  }

  @-webkit-keyframes myScale {
    0% {
      transform: scale(1)
    }
    25% {
      transform: scale(.8)
    }
    50% {
      transform: scale(1.1)
    }
    75% {
      transform: scale(.9)
    }
    100% {
      transform: scale(1)
    }
  }
}
