:host {
  ::ng-deep.swiper-pagination-bullet {
    background: var(--ion-color-dark-contrast) !important;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }

  ::ng-deep.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff !important;
  }

  ::ng-deep.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: rgb(46, 204, 27);
  }
}
