<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Claim List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #FFF;">
	<ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  <ion-row >
    
    <ion-col   style="--background: #FFF;" size="12" >
      
        <ion-card class="ion-no-margin">
          <ion-item lines="none" class="slide-bottom1" *ngFor="let clm of claimed_item.product|filter:filterTerm" >
          	<!--category,subcategory,Description,Quantity,Color,Status,Note,Picture,user_con,IsActive,created-->
          	
           <ion-label class="ion-padding-start">
                     <p class="ion-text-uppercase">{{clm.Product_Type}}</p>   <p class="ion-text-uppercase">{{clm.Description}}</p>
           
                        <p class="ion-text-uppercase">{{clm.Description}}</p>
                        <p *ngIf="clm.showuser.Name" class="ion-text-uppercase">Donor name: {{clm.username}}</p>
                        <p *ngIf="clm.showuser.Phone" class="ion-text-uppercase">Phone: {{clm.phone}}</p>
                        <p *ngIf="clm.showuser.Email" class="ion-text-uppercase">email: {{clm.email}}</p>
                         <p *ngIf="clm.showuser.Address"class="ion-text-uppercase">Address: {{clm.address}}</p>
          
           <p>

           <ion-button expand="block"  style="color: #FFF;;--background: #3155A4;--border-color: #3155A4; width:45%;float:left" (click)="doneclaim(clm.rid)" name="mydonor" *ngIf="this.authService.credentials.usrid==clm.Reciever_id && clm.done==0" slot="end" >
           I Recieved 
         </ion-button>
          <ion-button  expand="block"  style="color: #FFF;;--background: #3155A4;--border-color: #3155A4; width:45%;float: left"  name="mydonor" *ngIf="this.authService.credentials.usrid==clm.Reciever_id && clm.done==1" slot="end">
           Closed 
         </ion-button>
                  
           
           <ion-button expand="block"  style="color: #FFF;;--background: #3155A4;--border-color: #3155A4; width:45%;float: right;" (click)="claimpage(clm)" name="mydonor" *ngIf="this.authService.credentials.usrid==clm.Reciever_id" slot="end" >
           Edit 
   </ion-button>
          </p>
           </ion-label>
          </ion-item>
           
           
        </ion-card>
      
    </ion-col>
  </ion-row>
      
</ion-content>
