<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Vertical Slider+ Autoplay</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="none" class="ion-no-margin ion-no-padding transparent">
        <ion-label color="light">Vertical Slider</ion-label>
    </ion-item>
    <ion-slides [pager]="true" [options]="slideOpts" style="height: 254px;">
        <ion-slide *ngFor="let item of list">
            <ion-card class="ion-no-padding ion-no-margin background-size"
                      [ngStyle]="{'background-image':'url('+item+')'}"></ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>
