:host {
  ion-avatar {
    margin: 0 auto;
    box-shadow: 14px 14px 50px -20px rgba(0, 0, 0, 0.95) !important;
    width: 150px !important;
    height: 150px !important;
    border: 0px !important;
  }

  ::ng-deep.swiper-pagination {
    color: white;
  }
}
