:host {
  .movie {
    display: flex;
    position: relative;
    margin-bottom: 5px;
  }

  .play_button {
    position: absolute;
    width: 55px;
    height: 40px;
    background: red;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .play_icon {
      border-left: 15px solid white;
      border-bottom: 10px solid transparent;
      border-top: 10px solid transparent;
      margin-left: 20px;
      margin-top: 10px;
    }
  }
}
