:host {
  ion-avatar {
    margin: 10px auto !important;
  }

  .top-card {
    height: 300px;
    padding-top: 60px;
  }

  ion-item {
    margin: 0px !important;
    border-radius: 0px !important;
  }

}
