<ion-grid>
    <ion-row>
        <ion-col size="12" size-md="8">
            <ion-card>
                <ion-avatar>
                    <img src="assets/images/starbucks.png"/>
                </ion-avatar>
                <form [formGroup]="rForm">
                    <ion-item>
                        <ion-label color="light">userName</ion-label>
                        <ion-input formControlName="name" type="text" color="light"></ion-input>
                    </ion-item>
                    <ion-text class="ion-text-center ion-padding-start" color="danger"
                              *ngIf="!rForm.controls.name.valid  && rForm.controls.name.dirty">
                        userName Length at 3-15
                    </ion-text>
                    <ion-item>
                        <ion-label color="light">password</ion-label>
                        <ion-input formControlName="pwd" type="password" color="light"></ion-input>
                    </ion-item>
                    <ion-text class="ion-text-center ion-padding-start" color="danger"
                              *ngIf="!rForm.controls.pwd.valid  && rForm.controls.pwd.dirty">
                        password Length at 6-15
                    </ion-text>
                </form>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" size-md="8">
            <ion-button expand="block" color="secondary" [disabled]="!rForm.valid" (click)="onSignUp()">Sign Up
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" size-md="8" class="ion-text-center">
            <ion-chip color="light" class="ion-padding">
                <ion-icon name="logo-google"></ion-icon>
                <ion-label>Google</ion-label>
            </ion-chip>
            <ion-chip color="light" class="ion-padding">
                <ion-icon name="logo-twitter"></ion-icon>
                <ion-label>Twitter</ion-label>
            </ion-chip>
            <ion-chip color="light" class="ion-padding">
                <ion-icon name="logo-facebook"></ion-icon>
                <ion-label>Facebook</ion-label>
            </ion-chip>
        </ion-col>
    </ion-row>
</ion-grid>
