<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="Home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="card">
            <ion-icon name="md-briefcase"></ion-icon>
            <ion-label>List</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile">
            <ion-icon name="md-person"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="flip">
            <ion-icon name="medical"></ion-icon>
            <ion-label>Flip</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="load">
            <ion-icon name="hourglass"></ion-icon>
            <ion-label>Loading</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="login">
            <ion-icon name="flower"></ion-icon>
            <ion-label>Login</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="sign">
            <ion-icon name="md-person"></ion-icon>
            <ion-label>Sign Up</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
