<ion-grid>
    <ion-row>
        <ion-col size="12" *ngFor="let item of list;let i=index" [classList]="animationClassName"
                 [ngStyle]="{'animation-delay':(i + 1) * 0.2+'s'}">
            <ion-item lines="none" class="ion-no-padding">
                <ion-thumbnail class="background-size">
                    <img [src]="item.img">
                </ion-thumbnail>
                <ion-label class="ion-padding-start">
                    <h4 class="ion-text-wrap">{{item.name}}</h4>
                    <p class="ion-text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <ion-item lines="none" class="transparent ion-no-padding">
                        <ion-badge color="danger">Hot</ion-badge>
                        <ion-badge color="danger">New</ion-badge>
                        <ion-badge color="danger">Top</ion-badge>
                    </ion-item>
                    <ion-item lines="none" class="transparent ion-no-padding">
                        <ion-icon *ngFor="let item of iconList;let i=index" [name]="item.name"
                                  [classList]="'flip-in-ver-right'"
                                  [ngStyle]="{'animation-delay':(i + 1) * 0.5+'s'}" [color]="item.color"></ion-icon>
                    </ion-item>
                </ion-label>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-grid>
