<ion-grid class="ion-no-padding">
    <ion-row>
        <ion-col size="12" class="background-size ion-no-padding"
                 [ngStyle]="{'background-image':'url('+user.backImg+')'}"></ion-col>
        <ion-col size="12" class="ion-no-padding">
            <ion-card class="ion-no-margin ion-padding ion-text-center overflow">
                <ion-avatar class="avatar">
                    <img [src]="user.img">
                </ion-avatar>
                <h3><strong>{{user.name}}</strong></h3>
                <p><strong>{{user.location}}</strong></p>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac eros est. </p>
                <ion-button size="small" class="ion-margin-bottom" color="favorite" (click)="follow()">Follow
                </ion-button>
                <div class="line"></div>
                <ion-row>
                    <ion-col size="4">
                        <h5>Support</h5>
                        <span><strong>89</strong></span>
                    </ion-col>
                    <ion-col size="4">
                        <h5>Follow</h5>
                        <span><strong>599</strong></span>
                    </ion-col>
                    <ion-col size="4">
                        <h5>Praise</h5>
                        <span><strong>99</strong></span>
                    </ion-col>
                </ion-row>
            </ion-card>

            <ion-card *ngFor="let item of list">
                <ion-item lines="none" class="ion-no-padding">
                    <ion-avatar slot="start">
                        <img [src]="item.avatar">
                    </ion-avatar>
                    <ion-label class="ion-padding-start">
                        <h2 class="sticky">{{item.name}}</h2>
                        <p>{{item.date}}</p>
                    </ion-label>
                    <ion-icon name="more" slot="end" color="light"></ion-icon>
                </ion-item>
                <img [src]="item.img">
                <ion-card-content>
                    <p>Cras iaculis pulvinar arcu non vehicula. Fusce at quam a eros malesuada condimentum. Aliquam
                        tincidunt tincidunt vehicula.</p>
                </ion-card-content>
                <ion-row>
                    <ion-col size="4">
                        <ion-button fill="clear" size="small" color="favorite">
                            <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
                            Tweet
                        </ion-button>
                    </ion-col>
                    <ion-col size="4">
                        <ion-button fill="clear" size="small" color="favorite">
                            <ion-icon name="share-alt" slot="icon-only"></ion-icon>
                            Share
                        </ion-button>
                    </ion-col>
                    <ion-col size="4" class="ion-align-self-center ion-text-center">
                        <ion-button fill="clear" size="small" color="favorite">
                            <ion-icon name="chatboxes" slot="icon-only"></ion-icon>
                            Contact
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>
